/*   custom variables   */
		 :root {
			 --weather-icon-height: 20px;
			 --bgcolor-light: #bbb;
			 --bgcolor-dark: #333;
			 --bgcolor-medium: #666;
			 --bordercolor-medium: #888;
			 --textcolor-superlight: #999;
			 --textcolor-light: #bbb;
			 --textcolor-dark: #999;
		 }
/*   default stuff   */
	 * {
			 box-sizing: border-box;
		 }
		 body, input, textarea {
			 font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium", "ŸàƒSƒVƒbƒN‘Ì", "YuGothic", "ƒqƒ‰ƒMƒmŠpƒS ProN W3", "Hiragino Kaku Gothic ProN", "ƒƒCƒŠƒI", "Meiryo", "verdana", sans-serif;
			 font-size: 12pt;
			 line-height: 1.4em;
			 margin: 0;
			 padding: 0;
			 background-image: linear-gradient(to bottom right, midnightblue, slategrey);
		 }
		 .no-grid {
			 border: solid 1px rgb(255,255,255);
			 border: solid 1px rgba(204,204,204,0);
			 border-width: 0 1px 1px 0;
		 }
		 #wrap {
			 width: fit-content;
			 height: 100%;
          min-width: 760px;
          margin: auto;
			 margin-top: 4em;
			 padding: 0 2em;
			 padding-bottom: 4em;
			 background-color: darkslategrey;
			 overflow: auto;
			 border: solid var(--bordercolor-medium);
			 border-width: 0 1px 1px 0;
			 border-left : 3px double var(--bordercolor-medium);
			 border-top : 3px double var(--bordercolor-medium);

       }
       select {
			 color: black;
          font-size: 1;
			 border-radius: 0.4em;
          padding: 0.4;
          margin: 0.2;
      }


		 /* calendar styles */
		 .calendar {
			 border-spacing: 0;
          border-collapse: separate;
          table-layout: fixed;
       }
       .calendar td {
			 border: solid 1px var(--bordercolor-medium);
			 background-color: var(--bgcolor-dark);
			 color: var(--textcolor-light);
          font-size: 1em;
          height: 25px;
       }
       th.weekday {
          border: 1px solid var(--bordercolor-medium);
          width: auto;
			 padding: 0.2em;
          background-color: #b6d7a8;
          color: #000;
          text-align: center;
       }
       .calendar .dates {
			 display: flex;
			 padding: 0.1em 0.3em;
			 background-color: var(--bgcolor-medium);
          justify-content: flex-end;
			 align-items: center;
          font-size: 1em;
       }
		 .am, .pm {
			 height: 3.5em;
			 width: 100%;
			 border-top: dashed 1px var(--bordercolor-medium);
			 display: grid;
			 grid-template-rows: 1fr 1fr;
			 grid-template-columns: minmax(1em,auto) 1fr;
			 grid-template-areas:
				 "topImg moonTime"
			 	"topImg moonWeather";
			 /*grid-column-gap: 0.5em;*/
			 align-items: center;
			 padding: 0.3em 0;
		 }
		 .moonImg { grid-area: topImg; justify-self: center; }
		 .moonTime { grid-area: moonTime; justify-self: start;  width:100%;}
		 .moonWeather { 
			 grid-area: moonWeather;
		 }
		 div.moonImg {
			 margin: 0 0.5em;
		 }
		 .moonImg img {
			 margin: auto;
			 height: 32px;
			 border-radius: 5px;
			 border: 3px inset darkgrey;
		 }
		 div.moonTime {
			 margin: 0;
		 }
		 div.moonWeather {
			 display: flex;
			 justify-self: start;
			 align-items: center;
			 width:100%;
		 }
		 div.weatherIcon {
			 margin-right: 0.3em;
		 }
		 img.weatherIcon {
			 height: var(--weather-icon-height);
			 width: var(--weather-icon-height);
			 border-radius: 15%;
			 object-fit: cover;
		 }
       .calendar .spacer td {
          border-bottom: solid 1px var(--bordercolor-medium);
          height: 0.3em;
          color: #fff;
       }
		 /* notThisMonth */
		 td.notThisMonth {
			 background-color: #666;
			 color: #aaa;
		 }
		 td.notThisMonth .dates {
			 background-color: #999;
		 }
		 td.notThisMonth img {
			 opacity: 0.7;
		 }


		 /* clocks */
		 span.clock:before, .wdEotime:before, .wdTimeIcon {
			 width: fit-content;
			 font-size: 0.25em;
			 border-radius: 0.7em;
			 padding: 0 0.7em 0 0.7em;
			 margin-right: 0.4em;
			 background-color: var(--textcolor-light);
			 color: var(--bgcolor-dark);
		/* }
		 span.clock:before, .wdEotime:before {*/
			 content: attr(data-time);
			 position: relative;
			 bottom: 0.6em;
		 }
		 span.clock:after, .wdTime:after {
			 content: attr(data-sec);
			 font-size: 0.5em;
			 position: relative;
			 top: -0.5em;
		 }

		 /* big container grid */
		 #container {
			 width: minmax(100px,900px);
			 display: grid;
			 grid-template-columns: repeat(7, 1fr);
			 grid-auto-rows: minmax(10px,auto);
			 gap: 0.5em;
		 }
		 #explanation {
			 grid-column: 1 / 6;
			 grid-row: 1;
		 }
		 #controls {
			 grid-column: 1 / 6;
			 grid-row: 2;
		 }
		 #subInfo {
			 grid-column: 6 / 8;
			 grid-row: 1 / 3;
		 }
		 #calendarTable {
			 grid-column: 1 / 8;
			 grid-row: 3;
		 }
/*   explanation   */
		 #explanation {
			 max-width: 720px;
		 }
/*   subinfo   */
		 /* entryGrid */
		 .entryGrid {
			 height : fit-content;
			 width : 100%;
			 display: grid;
			 grid-auto-columns: 1.5em auto minmax(auto, 100%) auto;
			 grid-auto-rows: minmax(10px, auto);
			 grid-template-areas:
			 		"timeIcon weatherIcon weatherLabel countDown"
					"timeLabel weatherIcon atb atb";
			 line-height: 0.8em;
			 
		 }
		 #weatherStack .wdTimeIcon {
			 height: fit-content;
			 grid-area: timeIcon;
			 position: static;
			 align-self: end;
		 }
		 .wdTimeLabel {
			 grid-area: timeLabel;
			 font-family: consolas;
			 font-size: 0.9em;
		 }
		 .wdWeatherIcon {
			 grid-area: weatherIcon;
			 align-self: center;
		 }
		 .wdWeatherIcon img{
			 box-sizing: content-box;
			 border: ridge 3px darkgrey;
			 border-radius: 15%;
			 margin-right: 0.5em;
		 }
		 .wdWeatherLabel {
			 grid-area: weatherLabel;
			 line-height: 1em;
		 }
		 .wdCountDown {
			 grid-area: countDown;
			 font-family: consolas;
			 font-size: 0.9em;
		 }
		 .wdATB {
			 grid-area: atb;
			 border: 0.5px ridge black;
			 width: 100%;
			 height: 0.99em;
			 border-width: 0.35em;
			 border-color: silver;
			 border-style: ridge;
			 position: relative;
			 border-radius: 0.5em;
			 overflow: hidden;
			 background-image: linear-gradient(
			 0deg
			 , rgba(96,96,96,1), black, rgba(178,178,178,1));
		 }
		 .atbFill {
			 height: 140%;
			 width: 100%;
			 transform-origin: 0%;
			 background-image: linear-gradient(0deg, green, rgba(128,255,128,0.7));
		 }
		 @keyframes fillatb {
			 from {
				 transform: scaleX(0.1);
				 background-image: linear-gradient(0deg,rgba(128,128,128,0.7), white);
			 }
			 0.1% {
				 background-image: linear-gradient(0deg, green, rgba(128,255,128,0.7));
			 }
			 to {
				 transform: scaleX(1);
				 background-image: linear-gradient(0deg, green, rgba(128,255,128,0.7));
			 }
		 }
		 @keyframes emptyatb {
			 from {
				 transform: scaleX(1);
				 background-image: linear-gradient(0deg, darkgoldenrod, rgba(255,255,128,0.7));
			 }
			 60% {
				 background-image: linear-gradient(0deg, darkgoldenrod, rgba(255,255,128,0.7));
			 }
			 to {
				 transform: scaleX(0);
				 background-image: linear-gradient(0deg, firebrick, rgba(255,128,128,0.7));
			 }
		 }

		 
		 /* decoBox */
		 .decoBox {
			 border : 2px ridge var(--bordercolor-medium);
			 border-radius : 0 1em 1em;
			 padding : 0.5em;
			 background-color: var(--bgcolor-dark);
			 color: var(--textcolor-light);
		 }
		 #weatherStack > div {
			 flex-direction: row;
		 }
		 #weatherStack>div:nth-child(n+6) {
			 position: absolute;
			 right: 100%;
		 }

		 .wdTime {
			 width: 100%;
			 text-align: right;
			 margin-right: 1em;
		 }
		 .wdWeatherIcon {
			 width: 100%;
		 }
		 .decoBox h4 {
			 margin-top: 0.5em;
			 margin-bottom: 0.5em;
		 }
		 

		 /* hilite */
		 td.hilite {
			 position: relative;
			 overflow: hidden;
			 animation: 0.5s ease-in-out 0s normal forwards borderShine;
		 }
		 @keyframes borderShine {
			 to {border-color: #cc3}
		 }
		 td.hilite .screen {
			 content: '';
			 position: absolute;
			 top: 0;
			 height: 100%;
			 width: 400%;
			 background-image : linear-gradient(135deg, rgba(0,0,0,0) 40%, #cc3 50%, rgba(0,0,0,0) 52.5%); 
			 animation: 0.5s ease-in-out 0.2s normal forwards hiliteShine;
		 }
		 @keyframes hiliteShine {
			 from { left: -300%; }
			 to { left: 0%; }
		 }

